@{
    ViewBag.Title = "اضافة دكتور";
}

<h2>اضافة دكتور</h2>
<form class="form form-inline" action="@Url.Action("addDoc" , "Doctor")" method="post">
    
    <label>اسم الطبيب</label><input type="text" name="name" class="form-control" /><br />
    <label>عنوان الطبيب</label><input type="text" name="address" class="form-control" /><br />
    <label>اسم المندوب</label>
    <select name="supplier" class="form-control">
        <option value="0"></option>
        @{
            var suppliers = (List<teethLab.supplier>)ViewData["suppliers"];
            foreach (teethLab.supplier supplier in suppliers)
            {
                <option value="@supplier.id">@supplier.name</option>
            }
        }
    </select><br />
    <input type="submit" value="اضافة" class="btn btn-default" />
</form>