<style>
  
</style>
<div class=" alert-box ss-dialog hideit" style="text-align:center">
    <div class="row">
        <h1><img class="" src="~/Content/images/controls/Case-InTxt.png" /></h1>
        <br />
    </div>
    <div class="row">
        <div class="col-md-5">
            <h1><img class="" src="~/Content/images/controls/NewTxt.png" /></h1>
            <a href="#" id="generateBtn"><input type="button" value="Generate" /> </a>
            <input type="hidden" id="generatedNo" />
            <a href="#" id="nextCaseIn" data-statu="inputCase"><input data-statu="inputCase" type="button" value="Next" /></a>
        </div>
        <div class="col-md-2" style="">
            <img src="~/Content/images/controls/HrLine.png" />
        </div>
        <div class="col-md-5">

            <h1><img class="" src="~/Content/images/controls/ProvaTxt.png" /></h1>

            <input type="text" id="caseInProvaCaseNumber" class=" caseInProvaCaseNumber" />
            <a href="#" id="nextCaseInProva" data-statu="inputProva"><input type="button" data-statu="inputProva" value="Next" /></a>
        </div>
    </div>

</div>